<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8">
    <!-- LINK TAGS -->
    <title>Kanach Aygi</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin="">

    <link rel='stylesheet' id='wc-blocks-vendors-style-css'
          href='../../assets/content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-vendors-style.css'
          type='text/css' media='all'>
    <link rel='stylesheet' id='wc-blocks-style-css'
          href='../../assets/content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-style.css'
          type='text/css'
          media='all'>
    <link rel='stylesheet' id='classic-theme-styles-css' href='../../assets/includes/css/classic-themes.min.css'
          type='text/css' media='all'>
    <link rel='stylesheet' id='contact-form-7-css'
          href='../../assets/content/plugins/contact-form-7/includes/css/styles.css'
          type='text/css' media='all'>
    <link rel='stylesheet' id='theme-panel-style-css' href='../../assets/content/plugins/enovathemes-demo/css/style.css'
          type='text/css' media='all'>
    <link rel='stylesheet' id='yith-quick-view-css'
          href='../../assets/content/plugins/yith-woocommerce-quick-view/assets/css/yith-quick-view.css' type='text/css'
          media='all'>
    <link rel='stylesheet' id='goodresto-style-css' href='../../assets/content/themes/goodresto/style.css'
          type='text/css'
          media='all'>
    <link rel='stylesheet' id='goodresto-default-fonts-css'
          href='../../css?family=Playfair+Display%7CPinyon+Script%7CCabin+Condensed%3A400%2C500%2C600%2C700%7CRaleway%3A300%2C400%2C500%2C600%2C700%2C800%2C900%26subset%3Dlatin%2Clatin-ext'
          type='text/css' media='all'>
    <link rel='stylesheet' id='js_composer_front-css'
          href='../../assets/content/plugins/js_composer/assets/css/js_composer.min.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dynamic-styles-css' href='../../assets/content/themes/goodresto/css/dynamic-styles.css'
          type='text/css' media='all'>
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preload" as="style"
          href="../../css-1?family=Cabin%20Condensed:400,500,600,700%7CRaleway:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic&#038;display=swap">
    <link rel="stylesheet"
          href="../../css-1?family=Cabin%20Condensed:400,500,600,700%7CRaleway:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic&#038;display=swap"
          media="print" onload="this.media='all'">
    <!--    todo not-->
    <script type='text/javascript' src='../../assets/includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
    <script type='text/javascript' src='../../assets/includes/js/jquery/jquery-migrate.min.js'
            id='jquery-migrate-js'></script>
    <script type='text/javascript' src='../../assets/content/plugins/revslider/public/assets/js/rbtools.min.js' async=""
            id='tp-tools-js'></script>
    <script type='text/javascript' src='../../assets/content/plugins/revslider/public/assets/js/rs6.min.js' async=""
            id='revmin-js'></script>
    <script type='text/javascript'
            src='../../assets/content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'
            id='jquery-blockui-js'></script>
    <style id="theme-demo-dynamic-styles-inline-css" type="text/css"></style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">

        .vc_custom_1525260110299 {
            padding-top: 96px !important;
            padding-bottom: 120px !important;
            background-color: #f5f5f5 !important;
        }

        .vc_custom_1522161538435 {
            padding-top: 120px !important;
            padding-bottom: 96px !important;
        }

        .vc_custom_1607606709738 {
            margin-bottom: 8px !important;
        }

        .vc_custom_1525080440732 {
            margin-bottom: 8px !important;
        }
    </style>

</head>
<body class="page-template page-template-page-vc page-template-page-vc-php page page-id-8104 wp-embed-responsive theme-goodresto woocommerce-no-js enovathemes preloader-active loading-active custom-scroll-false layout-wide sidebar-align-right button-size-medium  blank-false wpb-js-composer js-comp-ver-6.10.0 vc_responsive">

<div class="site-loading load3">
    <div class="loading-bar-full"></div>
    <div class="site-loading-content">
    </div>
</div>
<!-- general wrap start -->
<div id="gen-wrap">


    <!-- wrap start -->
    <div id="wrap" data-navigation="default" data-sidebar-pos="left">

        <header class="header-mobile one-page-side top-false sidebar-true top-sl-true transparent-true no-logo-false">
            <div class="header-content">
                <div class="header-body">
                    <div class="header-logo-area">
                        <div class="container">
                            <div class="logo logo-desk">
                                <a href="../index.htm" title="Goodresto">
                                    <img class="mobile-logo" style="max-width:167px;max-height:60px;"
                                         src="../../resource/Spitak.png" alt="Goodresto">
                                </a>
                            </div>
                            <div class="mob-menu-toggle"><span></span></div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <header data-stickyheight="72"
                class="header desk one-page-side slider-active no-logo-false border-box-false transparent-true boxed-false sticky-true full-true logopos-left menupos-left menu-under-logo-false menu-under-logo-boxed-false menu-under-logo-icons-false header-under-slider-false top-false sidebar-true top-sl-true search-true social-links-false cart-true language-false effect-underline subeffect-ghost subeffect-hover-none">
            <div class="header-content">
                <div class="header-body">
                    <div class="container et-clearfix">
                        <div class="logo logo-desk">
                            <a href="../index.htm" title="Goodresto">
                                <img class="normal-logo" style="max-width:250px;max-height:80px"
                                     src="../../resource/Spitak.png" alt="Goodresto">
                                <img class="sticky-logo"
                                     style="max-width:167px;max-height:55px;margin-top:-27px;margin-left:-83.5px;filter: brightness(0%);"
                                     src="../../resource/Spitak.png" alt="Goodresto">
                            </a>
                        </div>

                        <nav class="header-menu desk-menu et-clearfix">
                            <ul id="header-menu" class="menu">
                                <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children"
                                        data-mm="false" data-mmc="1" data-mmw="grid-aligned"><a
                                        href="../index.htm"><span
                                        class="txt">Գլխավոր էջ</span><span class="mi et-icon-arrow-down"></span></a>
                                </li>
                                <li id="menu-item-80972"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                                    data-mm="false" data-mmc="2" data-mmw="grid-aligned"><a href="#"><span class="txt">Մեր մասին</span><span
                                        class="mi et-icon-arrow-down"></span></a>
                                </li>
                                <li id="menu-item-80952"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                                    data-mm="false" data-mmc="2" data-mmw="grid-aligned"><a href="#"><span class="txt">Մենյու</span><span
                                        class="mi et-icon-arrow-down"></span></a>
                                </li>
                                <li id="menu-item-80924"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                                    data-mm="false" data-mmc="2" data-mmw="grid-aligned"><a href="#"><span class="txt">Կապ մեզ հետ</span><span
                                        class="mi et-icon-arrow-down"></span></a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </header>
        <div class="page-content-wrap sticky-status-true">
            <!-- START sliderfull REVOLUTION SLIDER 6.6.5 --><p class="rs-p-wp-fix"></p>
            <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery"
                            style="visibility:hidden;background:#212121;padding:0;background-image:url(wp-content/uploads/slider_pattern-1.png);background-repeat:repeat;background-size:contain;background-position:left top;">
                <rs-module id="rev_slider_1_1" style="" data-version="6.6.5">
                    <rs-slides style="overflow: hidden; position: absolute;">
                        <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide 1" data-anim="r:0;"
                                  data-in="o:0;" data-out="a:false;" class="header-bg">
                            <img src="../../resource/bg.jpg" alt=""
                                 title="Home main" class="rev-slidebg tp-rs-img rs-lazyload"
                                 data-parallax="5" data-panzoom="d:20000;ss:100;se:110;" data-no-retina="">
                            <rs-layer id="slider-1-slide-1-layer-2" data-type="text"
                                      data-xy="x:c;y:m;yo:34px,34px,34px,14px;"
                                      data-text="s:72,72,72,40;l:72,72,72,40;ls:15px,15px,15px,5px;fw:700;a:inherit;"
                                      data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:50px;"
                                      data-frame_1="e:easeOutExpo;st:1100;sp:900;sR:1100;"
                                      data-frame_999="o:0;st:w;sR:7000;"
                                      style="z-index:6;font-family:'Cabin Condensed';text-transform:uppercase;">
                                <div class="header-span-txt-block">
                                    Կանաչ Սնունդ
                                    <span class="header-span-txt">Ընկերությունը հիմնադրվել է 2017թ.-ին։</span>
                                </div>
                            </rs-layer>
                        </rs-slide>
                    </rs-slides>
                </rs-module>
            </rs-module-wrap>
            <!-- END REVOLUTION SLIDER -->

            <!-- content start -->
            <div id="et-content" class='content et-clearfix'>
                <!-- post start -->
                <div id="post-8104" class="post-8104 page type-page status-publish hentry">
                    <div class="page-content et-clearfix">
                        <section class="wpb-content-wrapper">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1525263102686 vc_row-has-fill vc_row-no-padding vc-container-wide vc_row-o-content-middle vc_row-flex">
                                <div data-animation-delay="0"
                                     class="et-horizontal-equal-column wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
                                    <div class="vc_column-inner vc_custom_1525263601025">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  blockquote-inline">
                                                <div class="wpb_wrapper">
                                                    <blockquote><p>
                                                        «Կանաչ Սնունդ» ընկերությունը հիմնադրվել է 2017թ.-ին։
                                                        Շուրջ 5 տարի մեր ընկերությունը
                                                        առաջատար է աշխարհահռչակ արևելյան ուտեստների
                                                        արտադրության շուկայում ։ Մենք համագործակցում ենք
                                                        Հանրապետության բոլոր խոշոր սուպերմարկետների և
                                                        հիպերմարկետների հետ։ Աշխատում ենք նաև HoReCa ոլորտում,
                                                        ուստի մեր արտադրանքը կարելի է գտնել նաև Հայաստանի
                                                        բազմաթիվ խոշոր և հայտնի ռեստորաններում և հյուրանոցներում։
                                                    </p></blockquote>

                                                </div>
                                            </div>
                                            <div class="et-signature-wrapper et-clearfix center">
                                                <div id="et-signature-1" class="et-signature animate">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-animation-delay="0"
                                     class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1525263595339">
                                        <div class="wpb_wrapper">
                                            <div data-curtain="true" data-animation-delay="0" data-parallax="false"
                                                 data-coordinatex="0" data-coordinatey="0" data-speed="1"
                                                 class="et-custom-image aligncenter overlay-none curtain-left image-radius active">
                                                <img width="1024" height="768"
                                                     src="../../resource/DSC_5856%20(1).png" alt="">
                                                <div class="curtain" style="background:#2a5c2d;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1525260110299 vc_row-has-fill vc_column-gap-24">
                                <div class="vc-container et-clearfix">
                                    <div data-animation-delay="0"
                                         class="text-align-center wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div style="font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal"
                                                     class="vc_custom_heading et-pinyon vc_custom_1607606709738">Մեր
                                                    Տեսականին
                                                </div>
                                                <span class="et-gap et-clearfix " style="height:32px"> </span>
                                                <div class="recent-menus-layout menu-layout lazy lazy-load carousel menu-container-wide post-size-small filter-false"
                                                     data-default-filter="all">
                                                    <div id="loop-menus-1" data-columns="4"
                                                         class="loop-posts loop-menu owl-carousel recent-menus effect-none filter-false et-item-set et-clearfix">
                                                        <!-- todo heto backendic togh stana tvyalnery-->
                                                        <article
                                                                class="et-item post menu all appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                                                data-width="60" id="menu-10838">
                                                            <div class="post-inner et-item-inner et-clearfix highlight-false">
                                                                <div class="post-image overlay-hover post-media">
                                                                    <div class="image-preloader"></div>
                                                                    <img width="588" height="588"
                                                                         src="../../resource/menu/5.png"
                                                                         class="attachment-goodresto_588X588 size-goodresto_588X588 wp-post-image"
                                                                         alt="Vitello tonnato" decoding="async"
                                                                         data-responsive-images="false">
                                                                </div>
                                                                <div class="post-body et-clearfix">
                                                                    <div class="post-body-inner-wrap">
                                                                        <div class="post-body-inner">
                                                                            <h4 class="post-title et-clearfix">
                                                                                <span class="menu-title-inline">Զաթար (չոր)</span>
                                                                            </h4>
                                                                            <div class="menu-ingredients">Պահ. Ժամկետը՝
                                                                                1 տարի։
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="et-gap et-clearfix " style="height:56px">&nbsp;</span>
                                        <button type="submit" name="Բաժանորդագրվել">Տեսնել Ավելին</button>
                                    </div>
                                </div>

                            </div>
                            <!-- contact us -->
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1522161538435 vc_column-gap-24 vc-container">
                                <div data-animation-delay="0"
                                     class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div data-animation-delay="0"
                                     class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div style="font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal"
                                                 class="vc_custom_heading et-pinyon vc_custom_1525080440732">Ձեր կարծիքը
                                            </div>
                                            <div class="et-mailchimp-wrapper center-false" style="margin-top: 70px">
                                                <div id="et-mailchimp-1" class="et-mailchimp">
                                                    <form action="https://enovathemes.us12.list-manage.com/subscribe/post?u=f51d66947abf83c3737f089cc&amp;id=950c8576e9"
                                                          method="post" id="mc-embedded-subscribe-form"
                                                          name="mc-embedded-subscribe-form" class="validate"
                                                          target="_blank" novalidate="">
                                                        <div class="input-wrap">
                                                            <input type="text" value="" name="EMAIL" class="email"
                                                                   required=""
                                                                   data-placeholder="Մուտքագրեք ձեր email-ը">
                                                            <textarea placeholder="Ձեր կարցիքը"></textarea>
                                                            <span class="after"></span>
                                                        </div>

                                                        <button type="submit" name="Բաժանորդագրվել"
                                                                id="mc-embedded-subscribe">ՈՒղարկել
                                                        </button>
                                                        <input type="hidden"
                                                               name="b_f51d66947abf83c3737f089cc_950c8576e9"
                                                               tabindex="-1" value="" class="hidden">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="sep-wrap center  et-clearfix">
                                                <div class="et-separator-decorative medium icon-sep-sep5"
                                                     style="color:#000;margin-top:88px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-animation-delay="0"
                                     class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <!--                         images plus       -->
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1525260110299 vc_row-has-fill vc_column-gap-24">
                                <div class="vc-container et-clearfix">
                                    <div data-animation-delay="0"
                                         class="text-align-center wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12 wpb_start_animation animated">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="sep-wrap center  et-clearfix">
                                                    <div class="et-separator-decorative medium icon-sep-sep5"
                                                         style="color:#000;margin-bottom:88px;"></div>
                                                </div>
                                                <div class="et-plain-gallery-wrapper">
                                                    <style>#plain-gallery-1 {
                                                        margin-left: -12px;
                                                        margin-right: -12px;
                                                    }

                                                    #plain-gallery-1 .et-item {
                                                        padding-left: 12px;
                                                        padding-right: 12px;
                                                        padding-bottom: 24px
                                                    }</style>
                                                    <div id="plain-gallery-1" data-columns="3"
                                                         class="plain-gallery loop-gallery gallery-type-grid effect-type-sequential effect-moveUp overlay-fade-zoom et-item-set et-clearfix"
                                                         style="position: relative; height: 1224px;">
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 0px; top: px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/IMG_0379%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/IMG_0379%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 408px; top: 0px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/IMG_0422%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/IMG_0422%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 816px; top: 0px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/IMG_0443%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/IMG_0443%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 0px; top: 408px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/TQ7A9031%20(2)%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/TQ7A9031%20(2)%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 408px; top: 408px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/TQ7A9073%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/TQ7A9073%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 816px; top: 408px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/TQ7A9102%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/TQ7A9102%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="et-item gallery"
                                                             style="position: absolute; left: 0px; top: 816px;">
                                                            <div class="et-item-inner et-clearfix animate">
                                                                <div class="overlay-hover">
                                                                    <div class="image-container"><img width="588"
                                                                                                      height="588"
                                                                                                      src="../../resource/TQ7A9188%20(1).jpg"
                                                                                                      alt=""></div>
                                                                    <div class="post-image-overlay"><a
                                                                            class="overlay-read-more" title=""
                                                                            data-lightbox-gallery="gallery-image1"
                                                                            href="../../resource/TQ7A9188%20(1).jpg"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <!-- post end -->
            </div>
            <!-- content end -->
            <footer data-sticky="false" class="footer et-clearfix">
                <section class="wpb-content-wrapper">
                    <div id="footer-widget-area"
                         class="vc_row wpb_row vc_row-fluid vc_custom_1523365858770 vc_row-has-fill vc_column-gap-40">
                        <div class="vc-container et-clearfix" style="display: flex; justify-content: center;">
                            <div data-animation-delay="0"
                                 class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_widgetised_column wpb_content_element">
                                            <div class="wpb_wrapper">

                                                <div id="text-2" class="widget widget_text">
                                                    <div class="widget-body"><h5 class="widget_title">Find us</h5>
                                                        <div class="textwidget"><p>
                                                            Հեռ։ 374 94 951 951<span class="et-gap et-clearfix "
                                                                                     style="height:12px"> </span>
                                                            Հեռ: 374 55 951 951<span class="et-gap et-clearfix "
                                                                                     style="height:12px"> </span>
                                                            Email: kanachfood@gmail.com
                                                        </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-animation-delay="0"
                                 class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_widgetised_column wpb_content_element">
                                            <div class="wpb_wrapper">

                                                <div id="text-3" class="widget widget_text">
                                                    <div class="widget-body">
                                                        <h5 class="widget_title">ՀԵՏԵՎԵՔ ՄԵԶ
                                                            <div class="textwidget"><p style="font-weight: 100">Բաց մի
                                                                թողեք «Կանաչ Սնունդ»-ի վերջին նորությունները և
                                                                իրադարձությունները. Գտեք մեզ սոցիալական ցանցերում։<span
                                                                        class="et-gap et-clearfix "
                                                                        style="height:12px"> </span>
                                                                <div id="et-social-links-1"
                                                                     class="et-social-links social-links et-clearfix  styling-original-false">
                                                                    <style>#et-social-links-1 a {
                                                                        color: #ffffff;
                                                                        border-radius: 0px;
                                                                    }

                                                                    #et-social-links-1 a:hover {
                                                                        color: #2a5c2d;
                                                                    }</style>
                                                                    <a class="et-icon-facebook" href="//facebook.com"
                                                                       target="_self" rel="noopener"></a>
                                                                    <a
                                                                            class="et-icon-instagram"
                                                                            href="https://www.instagram.com/kanachsnund/"
                                                                            target="_self" rel="noopener"></a>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1523366211509 vc_row-has-fill vc_column-gap-24 vc_row-o-content-middle vc_row-flex">
                        <div class="vc-container et-clearfix">
                            <div data-animation-delay="0" class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner vc_custom_1519126651909">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  vc_custom_1523366398800">
                                            <div class="wpb_wrapper">
                                                <p class="text767-align-center"
                                                   style="text-align: left; color: #9e9e9e;">© 2023 Copyright
                                                    Kanach Snund</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
    </div>
    <!-- wrap end -->
</div>


<link rel='stylesheet' id='vc_google_fonts_abril_fatfaceregular-css' href='../../css-3?family=Abril+Fatface%3Aregular'
      type='text/css' media='all'>
<link rel='stylesheet' id='rs-plugin-settings-css'
      href='../../assets/content/plugins/revslider/public/assets/css/rs6.css'
      type='text/css' media='all'>
<script type='text/javascript' src='../../assets/content/plugins/contact-form-7/includes/swv/js/index.js'
        id='swv-js'></script>
<script type='text/javascript' src='../../assets/includes/js/comment-reply.min.js' id='comment-reply-js'></script>
<script type='text/javascript' src='../../assets/includes/js/imagesloaded.min.js' id='imagesloaded-js'></script>
<script type='text/javascript' src='../../assets/includes/js/masonry.min.js' id='masonry-js'></script>
<script type='text/javascript' src='../../assets/includes/js/jquery/jquery.masonry.min.js'
        id='jquery-masonry-js'></script>
<script type='text/javascript' src='../../assets/includes/js/hoverIntent.min.js' id='hoverIntent-js'></script>
<script type='text/javascript' id='controller-js-extra'><!-- todo not   -->
/* <![CDATA[ */
var controller_opt = {
    "customScroll": "false",
    "customScrollCursorcolor": "#222222",
    "customScrollRailcolor": "#666666",
    "customScrollCursorOpacityMin": "100",
    "customScrollCursorOpacityMax": "100",
    "customScrollCursorWidth": "10",
    "customScrollCursorBorderRadius": "5",
    "customScrollScrollSpeed": "60",
    "customScrollMouseScrollStep": "40",
    "postMax": "0",
    "postStartPage": "1",
    "postNextLink": "https:\/\/enovathemes.com\/goodresto\/home-2\/page\/2\/",
    "postNoText": "No more posts",
    "stickyHeaderHeight": "72",
    "eventMax": "0",
    "eventNextLink": "https:\/\/enovathemes.com\/goodresto\/home-2\/page\/2\/",
    "eventNoText": "No more events",
    "eventLoadingText": "Loading events",
    "menuMax": "0",
    "menuNextLink": "https:\/\/enovathemes.com\/goodresto\/home-2\/page\/2\/",
    "menuNoText": "No more items",
    "menuLoadingText": "Loading items",
    "productMax": "0",
    "productNextLink": "https:\/\/enovathemes.com\/goodresto\/home-2\/page\/2\/",
    "productNoText": "No more products",
    "productLoadingText": "Loading products",
    "productButtonClass": "product-single-button",
    "ajaxurl": "\/goodresto\/wp-admin\/admin-ajax.php"
};
/* ]]> */
</script>
<!-- todo not -->
<script type='text/javascript' src='../../assets/content/themes/goodresto/js/controller-combined.js'
        id='controller-js'></script>
<script type='text/javascript' src='../../assets/content/plugins/js_composer/assets/js/dist/js_composer_front.min.js'
        id='wpb_composer_front_js-js'></script>
<script type='text/javascript'
        src='../../assets/content/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.min.js'
        id='vc_waypoints-js'></script>
<script id="rs-initialisation-scripts">
    var revapi1;

    if (window.RS_MODULES === undefined) window.RS_MODULES = {};
    if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
    RS_MODULES.modules["revslider11"] = {
        once: RS_MODULES.modules["revslider11"] !== undefined ? RS_MODULES.modules["revslider11"].once : undefined,
        init: function () {
            window.revapi1 = window.revapi1 === undefined || window.revapi1 === null || window.revapi1.length === 0 ? document.getElementById("rev_slider_1_1") : window.revapi1;
            if (window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length == 0) {
                window.revapi1initTry = window.revapi1initTry === undefined ? 0 : window.revapi1initTry + 1;
                if (window.revapi1initTry < 20) requestAnimationFrame(function () {
                    RS_MODULES.modules["revslider11"].init()
                });
                return;
            }
            window.revapi1 = jQuery(window.revapi1);
            if (window.revapi1.revolution == undefined) {
                revslider_showDoubleJqueryError("rev_slider_1_1");
                return;
            }
            revapi1.revolutionInit({
                revapi: "revapi1",
                sliderLayout: "fullscreen",
                visibilityLevels: "1240,1024,778,480",
                gridwidth: "1200,960,620,320",
                gridheight: "974,720,480,480",
                lazyType: "smart",
                spinner: "spinner0",
                perspective: 600,
                perspectiveType: "local",
                editorheight: "974,720,480,480",
                responsiveLevels: "1240,1024,778,480",
                progressBar: {disableProgressBar: true},
                navigation: {
                    mouseScrollNavigation: false,
                    onHoverStop: false,
                    touch: {
                        touchenabled: true,
                        touchOnDesktop: true
                    }
                },
                parallax: {
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 5],
                    type: "mouse",
                    origo: "slidercenter"
                },
                fanim: {
                    in: {"o": 0},
                    out: {"a": false},
                    speed: 600
                },
                scrolleffect: {
                    set: true,
                    grayscale: true,
                    slide: true,
                    multiplicator: 1.3,
                    multiplicator_layers: 1.3,
                    disable_onmobile: true
                },
                viewPort: {
                    global: true,
                    globalDist: "-200px",
                    enable: false,
                    visible_area: "20%"
                },
                fallbacks: {
                    allowHTML5AutoPlayOnAndroid: true
                },
            });

        }
    } // End of RevInitScript

    if (window.RS_MODULES.checkMinimal !== undefined) {
        window.RS_MODULES.checkMinimal();
    }
</script>
</body>
</html>
